@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .primary-button{
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 w-full flex flex-col items-center justify-center rounded-full duration-200 md:max-w-[200px]
  }
}
body{
  line-height: 35x;
}
@layer components{
  .hero {
    background-image: url("../../public/bg.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
  }
}